.scene {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  touch-action: none;
}

.scene:active {
  cursor: grabbing;
}

.cube {
 position: relative;
  width: 130px;
  height: 130px;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
  border: 2px solid;
  border-color: var(--comp-cube-border-color);
  

  display: flex;
  flex-direction: column;
  gap: 4px;

  /* Prevent text selection */
  user-select: none;      
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;

  /* Hide the back face of each face */
  backface-visibility: hidden;
}

/*
 About the translateZ(65px):
 Each face of the cube is 130px wide, 
 so to position it correctly in 3D space, we need to move it half of its width (65px) away from the center of the cube along the Z-axis.
*/
.front  { transform: rotateY(0deg) translateZ(65px); }
.back   { transform: rotateY(180deg) translateZ(65px); }
.right  { transform: rotateY(90deg) translateZ(65px); }
.left   { transform: rotateY(-90deg) translateZ(65px); }
.top    { transform: rotateX(90deg) translateZ(65px); }
.bottom { transform: rotateX(-90deg) translateZ(65px); }

.zoom-face {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* Tablet screens */
@media (min-width: 600px) {
  .cube {
    width: 175px;
    height: 175px;
  }
  .front  { transform: rotateY(0deg) translateZ(87.5px); }
  .back   { transform: rotateY(180deg) translateZ(87.5px); }
  .right  { transform: rotateY(90deg) translateZ(87.5px); }
  .left   { transform: rotateY(-90deg) translateZ(87.5px); }
  .top    { transform: rotateX(90deg) translateZ(87.5px); }
  .bottom { transform: rotateX(-90deg) translateZ(87.5px); }
}

/* Desktop screens */
@media (min-width: 1024px) {
  .cube {
    width: 200px;
    height: 200px;
  }
  .front  { transform: rotateY(0deg) translateZ(100px); }
  .back   { transform: rotateY(180deg) translateZ(100px); }
  .right  { transform: rotateY(90deg) translateZ(100px); }
  .left   { transform: rotateY(-90deg) translateZ(100px); }
  .top    { transform: rotateX(90deg) translateZ(100px); }
  .bottom { transform: rotateX(-90deg) translateZ(100px); }
}